.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0 5rem;
    flex-wrap: nowrap;
  }
  
  .card-wrapper {
    display: flex;
    flex: calc(50%);
    transition: transform 0.5s ease-in-out;
    margin: 2rem 1rem;
  }
  
  .card-wrapper:not(.active) {
    display: none;
  }
  
  .active {
    display: block;
    transform: scale(1);
  }
  
  .left {
    justify-content: flex-start;
  }
  
  .right {
    justify-content: flex-end;
  }
  
  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #ffffff;
    width: 3rem; 
    height: 3rem; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
  }
  
  .prev-button {
    left: 1rem;
  }
  
  .next-button {
    right: 1rem; 
  }
  
  .mat-icon {
    font-size: 2rem;
    width: 100%;
    height: auto;
    display: block;
  }

  @media (max-width: 768px) {
    .carousel {
      margin: 0 1rem;
    }

    .card-wrapper {
      flex: 100%;
    }

    .nav-button {
      display: none;
    }
  }
  