.page-divider {
    display: flex;
    align-items: center;
    position: relative;
    width: 30%;
    // margin: 20px 0;
    margin-top: 5rem;
  }
  
  .page-number {
    font-size: 16px;
    padding: 0 10px;
    display: flex;
    align-items: center; 
    font-family: 'Neue Machina';
  }
  
  .page-number.left {
    order: 1;
  }
  
  .page-number.right {
    order: -1;
  }

  .left-align {
    justify-content: flex-start;
  }

  .right-align {
    justify-content: flex-end;
  }
  
  .line {
    flex-grow: 1;
    display: flex;
    align-items: center; 
  }
  
  .line-divider {
    width: 100%;
    border-bottom: 1px solid #474747; 
  }
  
  .image-container {
    flex-shrink: 0;
    margin: 0 10px; 
  }
  
  .image-container img {
    height: 30px;
  }
  