.navbar {
  position: fixed; /* Фиксированное позиционирование */
  top: 0; /* Прикрепление к верхней части экрана */
  left: 0;
  width: 100%; /* Ширина равна ширине экрана */
  // background-color: #333;
  padding: 10px 20px; /* Отступы для содержимого */
  z-index: 1000; /* Уровень над другими элементами */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
    font-family: 'Neue Machina';
    font-size: 5rem;
    // margin-top: -7rem;
    margin-left: 4rem;
    color: #3F3F3F;
}

.nav-links {
  // float: right; 
  // justify-self: flex-start;
  margin-right: 4rem;
}

.nav-links a {
  color: #FCFCFC; /* Цвет ссылок */
  text-decoration: none; /* Убираем подчёркивание */
  margin-left: 20px; /* Отступ между ссылками */
  // border: 1px solid yellow;
  padding: 1rem 2rem;
  background-color: rgba($color: #ffff, $alpha: 0.25);
  border-radius: 24px;
}
