.card-continer {
    // padding-left: 6rem;
}

.card {
    // border: 1px solid #ccc;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    width: 25rem;
    height: 18rem;
    display: flex;
    align-items: center;
    // margin-left: 6rem;

  }
  
.card img {
    width: 100%;
    height: auto;
  }

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
  }
}
  