<div class="page-container">
    <app-page-divider [pageNumber]="'06'" class="right-align"></app-page-divider>
    <h2>{{ 'CAREER.TITLE.1' | translate }} <br>{{ 'CAREER.TITLE.2' | translate }}</h2>
    <p>{{ 'CAREER.TEXT.1' | translate }} <br> 
        <b>{{ 'CAREER.TEXT.2' | translate }}</b></p>
    <p>{{ 'CAREER.SUBTEXT' | translate }}</p>
    <h3>{{ 'CAREER.WE_OFFER' | translate }}</h3>
    <div class="content-container">
        <img src="assets/imagies/join_us.png">
        <ul class="custom-list">
            <li *ngFor="let item of items">{{ item | translate }}</li>
          </ul>
    </div>
</div>
