.content-container {
    display: flex;
    margin: 4rem 6rem;
    gap: 1rem;
    background-color: #F4F4F4;
    border-radius: 2rem;
}

h2, h3, p {
    margin: 0 6rem;
}

h2 {
    font-size: 4rem;
    margin-top: 4rem;
}

p {
    font-size: 2.5rem;
    font-family: 'Neue Machina Regular';
    margin: 2rem 6rem;
}

h3 {
    font-size: 3rem;
    font-family: 'Neue Machina Regular';
}

.custom-list {
    list-style-type: none; 
    padding: 0;
  }
  
  .custom-list li {
    position: relative;
    padding-left: 4rem; 
    margin: 2rem; 
    font-size: 2rem;
    font-family: 'Neue Machina Regular';
  }
  
  .custom-list li::before {
    content: ''; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
    width: 2rem; 
    height: 2rem; 
    background-image: url('../../../assets/imagies/sun.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
  }

  .right-align {
    display: flex;
    justify-content: flex-end;
 }

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    margin: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }

  p {
    margin: 1rem 2rem;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .custom-list li {
    font-size: 1.5rem;
  }
}
 
 .left-align {
     display: flex;
     justify-content: flex-start;  
 }