<div class="second-page-container">
    <app-page-divider [pageNumber]="'02'" class="right-align"></app-page-divider>
    <h2><b>Мы разрабатываем решения, подходящие для любых задач</b></h2>
    <div class="running-lines-container">
        <div class="marquee-container rotated-right">
            <div class="marquee">
              <div class="marquee-content">
                  <p>повысить узнаваемость бренда</p>
                  <img src='assets/imagies/sun.png'>
                  <p>интеграции с блогерами</p>
                  <img src='assets/imagies/sun.png'>
                  <p>performance - трафик</p>
                  <img src='assets/imagies/sun.png'>
                  <p>посев в telegram</p>
                  <img src='assets/imagies/sun.png'>
                  <p>быстро перейти в VK</p>
                </div>
            </div>
        </div>
        <div class="marquee-container rotated-left">
            <div class="marquee">
              <div class="marquee-content">
                  <p>снять рекламу</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>внедрить аналитику</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>запустить продукт</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>настройка интеграции</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>автоматизация процессов</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>разработать ERP</p>
                </div>
            </div>
        </div>
        <div class="marquee-container no-rotate">
            <div class="marquee">
              <div class="marquee-content">
                  <p>сделать чат-бот</p>
                  <img src='assets/imagies/flower.png'>
                  <p>спецпроекты в соцсетях</p>
                  <img src='assets/imagies/flower.png'>
                  <p>запустить автоворонку</p>
                  <img src='assets/imagies/flower.png'>
                  <p>разработка дизайна</p>
                  <img src='assets/imagies/flower.png'>
                  <p>создать сайт</p>
                  <img src='assets/imagies/flower.png'>
                  <p>колсантинг</p>
                </div>
            </div>
        </div>
    </div>
</div>
  