<div class="second-page-container">
    <app-page-divider [pageNumber]="'02'" class="right-align"></app-page-divider>
    <h2><b>{{ 'Мы разрабатываем решения, подходящие для любых задач' | translate }}</b></h2>
    <div class="running-lines-container">
        <div class="marquee-container rotated-right">
            <div class="marquee">
              <div class="marquee-content">
                  <p>{{ 'повысить узнаваемость бренда' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'интеграции с блогерами' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'performance - трафик' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'посев в telegram' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'быстро перейти в VK' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <!-- Дублируем содержимое для создания эффекта зацикливания -->
                  <p>{{ 'повысить узнаваемость бренда' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'интеграции с блогерами' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'performance - трафик' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'посев в telegram' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'быстро перейти в VK' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                </div>
            </div>
        </div>
        <div class="marquee-container rotated-left">
            <div class="marquee">
              <div class="marquee-content">
                  <p>{{ 'снять рекламу' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'внедрить аналитику' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'запустить продукт' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'настройка интеграции' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'автоматизация процессов' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'разработать ERP' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <!-- Дублируем содержимое для создания эффекта зацикливания -->
                  <p>{{ 'снять рекламу' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'внедрить аналитику' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'запустить продукт' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'настройка интеграции' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'автоматизация процессов' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'разработать ERP' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                </div>
            </div>
        </div>
        <div class="marquee-container no-rotate">
            <div class="marquee">
              <div class="marquee-content">
                  <p>{{ 'сделать чат-бот' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'спецпроекты в соцсетях' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'запустить автоворонку' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'разработка дизайна' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'создать сайт' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'колсантинг' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <!-- Дублируем содержимое для создания эффекта зацикливания -->
                  <p>{{ 'сделать чат-бот' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'спецпроекты в соцсетях' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'запустить автоворонку' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'разработка дизайна' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'создать сайт' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'колсантинг' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                </div>
            </div>
        </div>
    </div>
</div>
