<div class="second-page-container">
    <app-page-divider [pageNumber]="'02'" class="right-align"></app-page-divider>
    <h2><b>{{ 'SOLUTIONS.TITLE' | translate }}</b></h2>
    <div class="running-lines-container">
        <div class="marquee-container rotated-right">
            <div class="marquee">
              <div class="marquee-content">
                  <p>{{ 'SOLUTIONS.LIST.1' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'SOLUTIONS.LIST.2' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'SOLUTIONS.LIST.3' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'SOLUTIONS.LIST.4' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'SOLUTIONS.LIST.5' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <!-- Дублируем содержимое для создания эффекта зацикливания -->
                  <p>{{ 'SOLUTIONS.LIST.1' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'SOLUTIONS.LIST.2' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'SOLUTIONS.LIST.3' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'SOLUTIONS.LIST.4' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                  <p>{{ 'SOLUTIONS.LIST.5' | translate }}</p>
                  <img src='assets/imagies/sun.png'>
                </div>
            </div>
        </div>
        <div class="marquee-container rotated-left">
            <div class="marquee">
              <div class="marquee-content">
                  <p>{{ 'SOLUTIONS.LIST.6' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'SOLUTIONS.LIST.7' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'SOLUTIONS.LIST.8' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'SOLUTIONS.LIST.9' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'SOLUTIONS.LIST.10' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'SOLUTIONS.LIST.11' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <!-- Дублируем содержимое для создания эффекта зацикливания -->
                  <p>{{ 'SOLUTIONS.LIST.6' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'SOLUTIONS.LIST.7' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'SOLUTIONS.LIST.8' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'SOLUTIONS.LIST.9' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'SOLUTIONS.LIST.10' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                  <p>{{ 'SOLUTIONS.LIST.11' | translate }}</p>
                  <img src='assets/imagies/blotch.png'>
                </div>
            </div>
        </div>
        <div class="marquee-container no-rotate">
            <div class="marquee">
              <div class="marquee-content">
                  <p>{{ 'SOLUTIONS.LIST.12' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'SOLUTIONS.LIST.13' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'SOLUTIONS.LIST.14' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'SOLUTIONS.LIST.15' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'SOLUTIONS.LIST.16' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'SOLUTIONS.LIST.17' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <!-- Дублируем содержимое для создания эффекта зацикливания -->
                  <p>{{ 'SOLUTIONS.LIST.12' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'SOLUTIONS.LIST.13' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'SOLUTIONS.LIST.14' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'SOLUTIONS.LIST.15' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'SOLUTIONS.LIST.16' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                  <p>{{ 'SOLUTIONS.LIST.17' | translate }}</p>
                  <img src='assets/imagies/flower.png'>
                </div>
            </div>
        </div>
    </div>
</div>
