<div class="third-page-container">
    <app-page-divider [pageNumber]="'03'" class="left-align"></app-page-divider>
    <div class="content-container">
        <div class="head-content-container">
            <h2>{{ 'Услуги' | translate }}</h2>
            <div class="description-container">
              <p>{{ 'Наша команда готова взяться за проекты любого масштаба и сложности.' | translate }}</p>
              <p>{{ 'Реализуем проекты, воплощающие ваши уникальные идеи и видение.' | translate }}</p>
            </div>
        </div>
        <div class="content">
            <div class="pictures-container">
                <img src="assets/imagies/card1.png" alt="FirstPage Image">
                <img class="spiral-image"src="assets/imagies/card3.png" alt="FirstPage Image">

            </div>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let service of services; let i = index" (opened)="services[i].isExpanded = true" (closed)="services[i].isExpanded = false" hideToggle>
                  <mat-expansion-panel-header>
                    <button class="drop-button" [ngClass]="{'expanded': service.isExpanded}" (click)="handleDropDownClick(i)"><mat-icon class="button-arrow">arrow_forward</mat-icon></button>
                    <mat-panel-title>{{service.title | translate}}</mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>{{service.description | translate}}</p>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
    </div>
    <app-button [buttonTitle]="'Озвучить идею' | translate" (click)="handleButtonClick()"></app-button>

</div>