.page-with-projects-container {
    background-color: #f9f8f8;
}

.projects-container {
    margin: 6rem;
}

h2 {
    font-size: 4rem;
    color: #333;
  }

.project-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 6rem;
    justify-items: center;
}

.right-align {
    display: flex;
    justify-content: flex-end;
 }
 
 .left-align {
     display: flex;
     justify-content: flex-start;  
 }

app-button {
    display: block;
    margin-left: 40%;
    margin-top: 0;
    padding-bottom: 6rem;
}

@media (max-width: 768px) {
  .projects-container {
    margin: 2rem;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  .project-list-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  app-button {
    margin-left: 0;
    padding-bottom: 2rem;
  }
}
