<div class="main-page-container">
  <div class="pazzle-blocks-container">
    <div class="title-container bottom-right">
      <h1>
        <p class="title">{{ 'MAIN.TITLE' | translate }}</p>
        <p [style.color]="currentParagraph.color" id="paragraph">
          {{ currentParagraph.key | translate}} 
        </p>
      </h1>
      <p class="moto">{{ 'MAIN.DESCRIPTION' | translate }}</p>
    </div>
    <div class="statement-container convex-right">
      <p class="statement">{{ 'MAIN.TAG1' | translate }} <span class="middot">&middot;</span> {{ 'MAIN.TAG2' | translate }} <span class="middot">&middot;</span> {{ 'MAIN.TAG3' | translate }}</p>
    </div>
  </div>
  <app-button [buttonTitle]="'MAIN.BUTTON' | translate" (click)="handleButtonClick()"></app-button>
</div>
