<div class="main-page-container">
    <div class="title-container">
        <h1>
            <p class="title">Агентство с экспертизой в</p>
            <p class="title contrast-title">IT-разработке</p>
        </h1>
    </div>
    <div class="moto-container">
        <p class="moto">Решаем земные <b>digital & IT</b> задачи.<br>
            Стремимся к внеземному качеству.</p>
    </div>
    <app-button [buttonTitle]="'Начать проект'"></app-button>
</div>
<app-page-divider [pageNumber]="'01'" class="left-align"></app-page-divider>
<app-page-divider [pageNumber]="'02'" class="right-align"></app-page-divider>
