<div class="main-page-container">
    <!-- <h2>Akor.Digital</h2> -->
    <div class="title-container">
        <h1>
            <p class="title">Агентство с экспертизой в</p>
            <p class="title contrast-title">IT-разработке</p>
        </h1>
    </div>
    <div class="moto-container">
        <p class="moto">Решаем земные <b>digital & IT</b> задачи.<br>
            Стремимся к внеземному качеству.</p>
    </div>
    <app-button [buttonTitle]="'Начать проект'" (click)="handleButtonClick()"></app-button>
</div>


