<div class="page-with-carousel-container">
    <app-page-divider [pageNumber]="'04'" class="right-align"></app-page-divider>
    <h2>{{ 'Технологии' | translate }}</h2>
    <!-- <mat-button-toggle-group #group="matButtonToggleGroup" (change)="selectedCategory = group.value">
      <mat-button-toggle *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-button-toggle>
    </mat-button-toggle-group> -->

    <app-auto-carousel [items]="cards" [numberOfItemsShown]="3.5">
      <ng-template let-item>
        <app-technology-card [item]="item"></app-technology-card>
      </ng-template>
    </app-auto-carousel>

  </div>


