<div class="first-page-container">
    <app-page-divider [pageNumber]="'01'" class="left-align"></app-page-divider>
    <div class="top-elements-container">
        <div class="text-container">
            <div class="title-container">
                <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
                <p><b>Akor Direct</b>  {{ 'ABOUT.TEXT' | translate }}</p>
            </div>
        </div>
        <div class="image-container">
            <img src="assets/imagies/firstPage.png" alt="FirstPage Image">
        </div>
    </div>
    <app-carousel [items]="cards" [numberOfCardsShown]="2">
        <ng-template let-card>
          <app-description-card [height]="'15rem'" [title]="card.title | translate" [description]="card.description | translate" [imageUrl]="card.imageUrl"></app-description-card>
        </ng-template>
    </app-carousel>
</div>
