.first-page-container {
    background-color: #f9f8f8;
}

.top-elements-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.title-container {
    margin: 2rem 4rem   ;
}

h2 {
    font-size: 6rem;
}

p {
    font-size: 3rem;
}

.image-container {
    margin-right: -200px;
}

img {
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
}

.right-align {
    display: flex;
    justify-content: flex-end;
 }
 
  .left-align {
      display: flex;
      justify-content: flex-start;
  }

@media (max-width: 768px) {
  .top-elements-container {
    flex-direction: column;
    align-items: center;
  }

  .title-container {
    margin: 1rem;
    text-align: center;
  }

  .image-container {
    margin: 2rem 0 0;
    display: flex;
    justify-content: center;
  }

  img {
    width: 80%;
    height: auto;
  }
}
