.first-page-container {
    background-color: #f9f8f8;
}

.top-elements-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.title-container {
    margin: 2rem 4rem   ;
}

h2 {
    font-size: 6rem;
}

p {
    font-size: 3rem;
}

.image-container {
    margin-right: -200px;
}

img {
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
}

.right-align {
    display: flex;
    justify-content: flex-end;
 }
 
 .left-align {
     display: flex;
     justify-content: flex-start;  
 }